.form{
    width : 1050px;
    height: 800px;
    border-color: rgb(193, 186, 186);
    border-style : outset;
    border-width: 1px;
    padding : 20px;
    background-color : rgb(239, 232, 232);
}
.card{
    padding : 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    position : relative;
    bottom : 50px;
    left: 150px;
}
.cardSection{
    position : relative;
    bottom : 700px;
    left : 480px;
    width : 530px;
    height : 300px;
    border-radius : 2%;
    box-shadow : 2px 2px 5px grey;
    background-color : white;
    font-family: 'sans-serif';
}  
.cardTitle{
    position: relative;
    top : 10px;
    text-align :center;
    color : rgb(7, 147, 7);
    font-style: italic;
}
#displayPhoto{
    width : 150px;
    height : 150px;
    object-fit: cover;
    position: relative;
    top : 50px;
    right : 200px;
    border : 3px solid lightgrey;

}
#barcode{
    height : 40px;
    width : 100%;
    position : relative;
    left : -100px;
    bottom : 10px;
}
header{
    background-color: white;
    color:black;
    font-family: 'Roboto';
}
body{
    background-color: white;
    color:black;
    font-family: 'Roboto';
}
footer{
    background-color: white;
    color:black;
    font-family: 'Roboto';
}
button{
    width : 250px;
    height : 30px;
    background-color : rgb(7, 147, 7);
    color : white;
    border-radius : 2%;
    border-color : rgb(7, 147, 7);
}
i{
    font-size : 100px;
    color : lightgray;
    position : relative;
    top : 100px;
    right : 83px;
}
.detailsContainer{
    position : relative;
    left : -80px;
    top : 20px;
}
#confirmationModal{
    display : none;
    position : fixed;
    left:0;
    top:0;
    overflow : auto;
    width : 100%;
    height : 100%;
    z-index : 1000;
    background-color: rgba(0,0,0,0.5);
}
.modalContent{
    position:relative;
    animation-name : animeteop;
    animation-duration : 0.4s;
    margin : 15% auto;
    padding : 20px;
    border : 1px solid #888;
    width : 300px;
    text-align : center;
    background-color : white;
}
.closeButton{
    float : right;
    font-weight : bold;

}
.close:hover,
.close:focus{
   color : green; 
}
@keyframes animeteop{
    from{top: -300px; opacity:0}
    to{top : 0; opacity : 1}
}
